.navbar {
    width: 100%;
    min-height: 50px;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 0 1rem;

    grid-item {
        margin: auto;
    }

    .logo {
        svg {

            width: 50%;
        }
    }

    a {
        color: black;
        font-weight: 500;
        padding: .5rem 1rem;

        &:hover {
            background-color: rgba(57, 57, 57, 0.307);
        }
    }

    .burger {
        display: none;
    }
}